@import "./colors.scss";

.bar {
  background-color: transparent;
}

.bar-container {
  background-color: $background;
  color: $primary;
  border-radius: 5px;
}

.left-group,
.right-group {
  margin: 0px 20px;
}

.tray:hover {
  background-color: $secondary;
  
}
