@import "./colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, AdwaitaMono Nerd Font;
    font-size: 13px;
    border-radius: 3px;
    padding: 0 0px;
}

window#waybar {
    background-color: transparent;
    color: @on_primary_container;
}

#waybar>box {
    background-color: @background;
    margin: 3px 6px 3px 6px;
}

#workspaces {
    padding: 0px;
}

#window>label {
    font-weight: bolder;
    font-size: 14px;
}

#workspaces>button {
    color: @primary;
    padding: 0px 3px;
    border: none;
}

#workspaces>button.active {
    color: @on_background;
    background: @inverse_on_surface;
}

#workspaces>button:hover {
    color: @on_background;
    background: @inverse_on_surface;
}

#workspaces label {
    font-size: 13.5px;
    font-weight: bolder;
}

.modules-left,
.modules-right {
    padding: 0px 6px;
}

#clock {
    font-weight: bolder;
    font-size: 14px;
    padding: 0 6px;
}

#cpu,
#memory {
    padding: 6px;
}

#custom-swaync-notification,
#custom-notifications {
    padding: 0px 10px 2px 8px;
    font-size: 12px;
}

#battery {
    padding: 0px 3px 0px 6px;
    font-size: 16px;
}

#battery.critical,
#battery.low {
    color: @error;
}

#battery.charging {
    padding: 0px 0px 0px 6px;
}

#network {
    padding: 0px 8px 0px 6px;
    font-size: 16px;
}

#pulseaudio {
    padding: 0px 3px 0px 6px;
}

#custom-reload-waybar {
    font-size: 14px;
    padding: 0 3px 0px 0px;
}

#custom-notifications:hover,
#custom-swaync-notification:hover,
#battery:hover,
#clock:hover,
#network:hover,
#pulseaudio:hover,
#custom-reload-waybar:hover {
    background-color: @inverse_on_surface;
    color: @on_background;
}

#custom-separator {
    padding: 0px 6px;
}

#tray {
    background-color: @inverse_on_surface;
    padding: 0px 3px;
    border-bottom: 1.5px solid @on_secondary_container;
    border-radius: 2px;
}
