@import "./colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, AdwaitaMono Nerd Font;
    font-size: 13px;
    border-radius: 3px;
    padding: 0 3px;
}

window#waybar {
    background-color: transparent;
    color: @primary;
}

#waybar>box {
    background-color: @background;
    margin: 3px 6px 0px 6px;
}

#workspaces {
    padding: 0px;
    
}

#workspaces>button {
    color: @primary;
    padding: 3px;
    border: none;
}

#workspaces>button.active {
    color: @on_background;
    background: @inverse_on_surface;
}

#workspaces>button:hover {
    color: @on_background;
    background: @inverse_on_surface;
}

#workspaces label {
    font-size: 12px;
    margin: 0px;
}

.modules-left,
.modules-right {
    padding: 0px 18px;
}

#clock {
    font-weight: bolder;
    font-size: 14px;
}

#clock,
#pulseaudio {
    padding: 6px;
}

#cpu,
#memory {
    padding: 6px;
    margin: 0px 6px;
}

#network {
    padding: 0px 8px 0px 6px;
    font-size: 16px;
}

#custom-reload-waybar {
    font-size: 14px;
    padding: 0 3px 0px 0px;
}

#clock:hover,
#network:hover,
#pulseaudio:hover,
#custom-reload-waybar:hover {
    background-color: @inverse_on_surface;
    color: @on_background;
}

#tray {
    background-color: @inverse_on_surface;
    padding: 0px 3px;
    border-bottom: 0.6px solid @primary;
    border-radius: 3px;
}
